## Make some common code available.
#import('/_cascade/formats/velocity/_common')

## Set references to the system-page and system-data-structure nodes.
#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

## Collect the pages that have an edit after the last publish.
#set ( $collection = $_XPathTool.selectNodes($data, "block/content/system-index-block//system-page") )
#set ( $size = $collection.size() )

<div class="row">
    <div class="col-xs-12">
        <h1>$_EscapeTool.xml($page.getChild("title").value)</h1>
        <p>Listing all the pages and who is associated with them.</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12">
    #if ( $size > 0 )
        <div class="table-responsive">
        <table id="reportTable" class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Page</th>
                <th>Created By</th>
                <th>Last Edited By</th>
                #actionsHeader()
            </tr>
        </thead>
        <tbody>
        #foreach ( $item in $collection )
            #set ( $id = $item.getAttribute("id").value )
            #set ( $title = $item.getChild("title") )
            #set ( $path = $item.getChild("path").value )
            #set ( $link = $item.getChild("link").value )
            #set ( $by1 = $item.getChild("created-by").value )
            #set ( $by2 = $item.getChild("last-modified-by").value )
            <tr>
                <td><a href="${link}">$_EscapeTool.xml($title.value)</a> <small class="text-muted">[${path}]</small></td>
                <td>${by1}</td>
                <td>${by2}</td>
                <td>#cascadeLink("open", $id) #cascadeLink("edit", $id) #cascadeLink("publish", $id)</td>
            </tr>
        #end
        </tbody>
        </table>
        </div>
    #else
        <p>Nothing to show here. Go create some content!</p>
    #end
    </div>
</div>
