#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

#set ( $columns = $_XPathTool.selectNodes($data, "column[channel[type!='']]") )
#set ( $num = 12 / $columns.size() )

<div class="row">
    <div class="col-xs-12">
        <h1><system-page-title/></h1>
    </div>
</div>
#if ( $data.getChild("bannerChoice").value == "Yes" )
    #set ( $bannerLink = $_XPathTool.selectSingleNode($data, "banner/image/link").value )
    #set ( $bannerName = $_XPathTool.selectSingleNode($data, "banner/image/name").value )
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <img src="${bannerLink}" alt="${bannerName}" class="img-responsive" />
        </div>
    </div>
#end
<hr/>
<div class="row">
#foreach ( $col in $columns )
    #set ( $channels = $_XPathTool.selectNodes($col, "channel") )
    <div class="col-xs-12 col-md-6 col-lg-${num}">
    #foreach ( $chan in $channels )
        #set ( $type = $chan.getChild("type").value )
        #if ( $chan.getChild("title").value != "" )
            #set ( $channelTitle = $_EscapeTool.xml($chan.getChild("title").value) )
        #else
            #set ( $channelTitle = $type )
        #end
        <h2>
            #if ( $chan.getChild("image").getChild("path").value != "/" )
                #set ( $channelImage = $chan.getChild("image").getChild("path").value )
                #set ( $channelAlt = $chan.getChild("image").getChild("name").value )
                <img src="${channelImage}" alt="${channelAlt}" />
            #else
                #if ( $type == "News" )
                    #fafw("newspaper-o")
                #else
                    #fafw($type.toLowerCase())
                #end
            #end
            #if ( $chan.getChild("account").value != "" )
                #set ( $account = $_EscapeTool.xml($chan.getChild("account").value) )
                <a href="${account}">$_EscapeTool.xml($channelTitle)</a>
            #else
                $_EscapeTool.xml($channelTitle)
            #end
        </h2>
        <hr/>
        #if ( $type == "Twitter" )
            #set ( $twitterSDS = $_XPathTool.selectSingleNode($chan, "twitter") )
            #set ( $twitterOutput = "#outputTwitter($twitterSDS)" )
            ${twitterOutput.trim()}
        #elseif ( $type == "Facebook" )
            #set ( $facebookPage = $_EscapeTool.xml($_XPathTool.selectSingleNode($chan, "facebook/page").value) )
            [system-view:internal]<p>The Facebook box will appear here after publish.</p>[/system-view:internal]
            [system-view:external]<div class="fb-like-box" data-href="https://www.facebook.com/${facebookPage}" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>[/system-view:external]
        #elseif ( $type == "YouTube" )
            #set ( $youtubeData = $_XPathTool.selectSingleNode($chan, "youtube") )
            #set ( $youtubeOutput = "#outputYouTube($youtubeData)" )
            ${youtubeOutput.trim()}
        #elseif ( $type == "Flickr" )
            #set ( $flickrData = $_XPathTool.selectSingleNode($chan, "flickr") )
            #set ( $flickrOutput = "#outputFlickr($flickrData)" )
            ${flickrOutput.trim()}
        #elseif ( $type == "Instagram" )
            #set ( $instagramData = $_XPathTool.selectSingleNode($chan, "instagram") )
            #set ( $instagramOutput = "#outputInstagram($instagramData)" )
            ${instagramOutput.trim()}
        #elseif ( $type == "News" )
            #set ( $newsData = $_XPathTool.selectSingleNode($chan, "news") )
            #set ( $newsOutput = "#outputNews($newsData)" )
            ${newsOutput.trim()}
        #elseif ( $type == "Calendar" )
            #set ( $calendarData = $_XPathTool.selectSingleNode($chan, "calendar") )
            #set ( $calendarOutput = "#outputCalendar($calendarData)" )
            ${calendarOutput.trim()}
        #else
            ## Something is wrong.
        #end
        #if ( $foreach.hasNext )
            <hr/>
        #end
    #end
    </div>
#end
</div>

## Font Awesome
#macro ( fa $f_icon )
<span class="fa fa-${f_icon}"></span>
#end
#macro ( fafw $f_icon )
<span class="fa fa-${f_icon} fa-fw"></span>
#end

## Twitter
#macro ( outputTwitter $widgetSDS )
    ## Required Setup Information
    #set ( $wCode = $widgetSDS.getChild('code').value )

    ## Make sure we have the required information before proceeding to display the widget.
    #if ( $wCode && $wCode != "")
        ## References to the dimension, appearence and advanced appearence groups.
        #set ( $wDimensionSDS = $widgetSDS.getChild('dimensions') )
        #set ( $wAppearenceSDS = $widgetSDS.getChild('appearence') )
        #set ( $wAdvAppearenceSDS = $wAppearenceSDS.getChild('advanced') )

        ## Map containing the client side settings.
        #set ( $wSettings = {} )

        ## Dimension Settings
        #set ( $wWidth = $wDimensionSDS.getChild("width").value )
        #if ( $wWidth && $wWidth != "" )
            #set ( $_void = $wSettings.put("width", "'${wWidth}'") )
        #end

        #set ( $wHeight = $wDimensionSDS.getChild("height").value )
        #if ( $wHeight && $wHeight != "" )
            #set ( $_void = $wSettings.put("height", "'${wHeight}'") )
        #end

        ## Basic Appearence Settings
        #set ( $wTweetLimit = $wAppearenceSDS.getChild("tweet-limit").value )
        #if ( $wTweetLimit && $wTweetLimit != "" )
            #set ( $_void = $wSettings.put("data-tweet-limit", "'${wTweetLimit}'") )
        #end

        #set ( $wTheme = $wAppearenceSDS.getChild("theme").value )
        #if ( $wTheme != "Default" )
            #set ( $_void = $wSettings.put("data-theme", "'${wTheme}'") )
        #end

        ## Advanced color settings.
        #set ( $wBorderColor = $wAdvAppearenceSDS.getChild("border-color").value )
        #if ( $wBorderColor && $wBorderColor != "" )
            #set ( $_void = $wSettings.put("data-border-color", "'${wBorderColor}'") )
        #end

        #set ( $wLinkColor = $wAdvAppearenceSDS.getChild("link-color").value )
        #if ( $wLinkColor && $wLinkColor != "" )
            #set ( $_void = $wSettings.put("data-link-color", "'${wLinkColor}'") )
        #end

        ## Advanced "chrome" settings.
        #set ( $wChromeSettings = [] )

        #set ( $wIncHeader = $wAdvAppearenceSDS.getChild("header").getChild("value") )
        #if ( $wAdvAppearenceSDS.getChild("header").indexOf($wIncHeader) != -1 )
            #set ( $_void = $wChromeSettings.add("noheader") )
        #end

        #set ( $wIncFooter = $wAdvAppearenceSDS.getChild("footer").getChild("value") )
        #if ( $wAdvAppearenceSDS.getChild("footer").indexOf($wIncFooter) != -1 )
            #set ( $_void = $wChromeSettings.add("nofooter") )
        #end

        #set ( $wIncBorders = $wAdvAppearenceSDS.getChild("borders").getChild("value") )
        #if ( $wAdvAppearenceSDS.getChild("borders").indexOf($wIncBorders) != -1 )
            #set ( $_void = $wChromeSettings.add("noborders") )
        #end

        #set ( $wIncScrollbar = $wAdvAppearenceSDS.getChild("scrollbar").getChild("value") )
        #if ( $wAdvAppearenceSDS.getChild("scrollbar").indexOf($wIncScrollbar) != -1 )
            #set ( $_void = $wChromeSettings.add("noscrollbar") )
        #end

        #set ( $wTransparent = $wAdvAppearenceSDS.getChild("transparent").getChild("value") )
        #if ( $wAdvAppearenceSDS.getChild("transparent").indexOf($wTransparent) != -1 )
            #set ( $_void = $wChromeSettings.add("transparent") )
        #end

        ## Merge the chrome settings into the widget settings map.
        #if ( $wChromeSettings.size() > 0 )
            #set ( $wChromeSettings = $_DisplayTool.list($wChromeSettings, " ") )
            #set ( $_void = $wSettings.put("data-chrome", "'${wChromeSettings}'") )
        #end

        ## Convert the widget settings map to a string, remove the {} and ,
        #set ( $wSettings = $wSettings.toString() )
        #set ( $wSettings = $wSettings.substring(1, $_MathTool.sub($wSettings.length(),1)) )
        #set ( $wSettings = $wSettings.replaceAll(", ", " ") )

        ## Display the widget's code after injecting the custom settings.
        $wCode.replace("<a", "<a ${wSettings}")
    #end
#end

## YouTube
#macro ( outputYouTube $youtubeBlock )
    #set ( $youtubes = $_XPathTool.selectNodes($youtubeBlock, "feed/content/rss/channel/item") )
    #if ( $youtubes.size() > 0 )
        #set ( $youtubeDimensions = $youtubeBlock.getChild("dimensions").value )
        #set ( $youtubeWidth = $_StringTool.substringBefore($youtubeDimensions, "x") )
        #set ( $youtubeHeight = $_StringTool.substringAfter($youtubeDimensions, "x") )
        
        #set ( $youtubeTotal = $youtubeBlock.getChild("total").value )
        
        #foreach ( $utube in $youtubes )
            #set ( $youtubeGuid = $_StringTool.substringAfter($utube.getChild("guid").value, "video:") )
            <div class="video-container">
                <iframe width="${youtubeWidth}" height="${youtubeHeight}" src="http://www.youtube.com/embed/${youtubeGuid}" frameborder="0"></iframe>
            </div>
            #if ( $foreach.count == $youtubeTotal ) #break #end
        #end
    #end
#end


## Flickr
#macro ( outputFlickr $flickrBlock )
    #set ( $flickrs = $_XPathTool.selectNodes($flickrBlock, "feed/content/rss/channel/item") )
    #if ( $flickrs.size() > 0 )
        <div id="flickrs">
        #set ( $flickrTotal = $flickrBlock.getChild("total").value )
        #foreach ( $flick in $flickrs )
            #set ( $flickrLink = $flick.getChild("link").value )
            #set ( $flickrTitle = $_EscapeTool.xml($flick.getChild("title").value) )
            #set ( $flickElements = $flick.getChildren() )
            #foreach ( $flickrE in $flickElements )
                #if ( $flickrE.getName() == "content" ) 
                    #set ( $flickrSrc = $flickrE.getAttribute("url").value )
                #end 
            #end
            <a href="${flickrSrc}" title="View ${flickrTitle}" data-lightbox="flickrPhoto">
                <img src="${flickrSrc}" alt="${flickrTitle}" class="img-responsive" />
            </a>
            #if ( $foreach.count == $flickrTotal ) #break #end
        #end
        </div>
    #end
#end


## News
#macro ( outputNews $newsBlock )
    #set ( $newses = $_XPathTool.selectNodes($newsBlock, "feed/content/system-index-block/system-page[not(contains(path,'base'))]") )
    #if ( $newses.size() > 0 )
        $_SortTool.addSortCriterion("start-date", "", "number", "descending", "")
        $_SortTool.sort($newses)
        <div id="newses">
        #set ( $newsTotal = $newsBlock.getChild("total").value )
        #foreach ( $news in $newses )
            #set ( $newsLink = $news.getChild("link").value )
            #set ( $newsTitle = $_EscapeTool.xml($news.getChild("title").value) )
            #set ( $newsDate = $news.getChild("start-date").value )
            <p>
                <span class="fa fa-fw fa-bullhorn"></span>
                $_DateTool.format("MM/dd", $_DateTool.getDate($newsDate))
                <a href="${newsLink}" title="Read ${newsTitle}">${newsTitle}</a>
            </p>
            #if ( $foreach.count == $newsTotal ) #break #end
        #end
        </div>
    #end
#end


## Calendar
#macro ( outputCalendar $calendarBlock )
    #set ( $calendars = $_XPathTool.selectNodes($calendarBlock, "feed/content/system-index-block/system-page[not(contains(path,'base'))]") )
    #if ( $calendars.size() > 0 )
        $_SortTool.addSortCriterion("start-date", "", "number", "descending", "")
        $_SortTool.sort($calendars)
        <div id="calendars">
        #set ( $calendarTotal = $calendarBlock.getChild("total").value )
        #foreach ( $cals in $calendars )
            #set ( $calLink = $cals.getChild("link").value )
            #set ( $calTitle = $_EscapeTool.xml($cals.getChild("title").value) )
            #set ( $calDate = $_XPathTool.selectSingleNode($cals, "system-data-structure/starts").value )
            <p>
                <span class="fa fa-fw fa-calendar-o"></span>
                $_DateTool.format("MM/dd", $_DateTool.getDate($calDate))
                <a href="${calLink}" title="Read ${calTitle}">${calTitle}</a>
            </p>
            #if ( $foreach.count == $calendarTotal ) #break #end
        #end
        </div>
    #end
#end


## Instagram
#macro ( outputInstagram $instagramBlock )
    #set ( $instagrams = $_XPathTool.selectNodes($instagramBlock, "feed/content/rss/channel/item") )
    #if ( $instagrams.size() > 0 )
        <div id="instagrams">
        #set ( $instagramTotal = $instagramBlock.getChild("total").value )
        #foreach ( $gram in $instagrams )
            #set ( $gramLink = $gram.getChild("link").value )
            #set ( $gramTitle = $_EscapeTool.xml($gram.getChild("title").value) )
            #set ( $gramElements = $gram.getChildren() )
            #foreach ( $gramE in $gramElements )
                #if ( $gramE.getName() == "content" ) 
                    #set ( $gramSrc = $gramE.getAttribute("url").value )
                #end 
            #end
            <a href="${gramSrc}" title="${gramTitle}" data-lightbox="instagramPhoto">
                <img src="${gramSrc}" alt="${gramTitle}" class="img-responsive" />
            </a>
            #if ( $foreach.count == $instagramTotal ) #break #end
        #end
        </div>
    #end
#end
