## Make some common code available.
#import('/_cascade/formats/velocity/_common')

## Set references to the system-page and system-data-structure nodes.
#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

## Determine which filter to use.
#set ( $type = $data.getChild("filter").value )
#if ( $type == "Specific Date" )
    #set ( $timestamp = $data.getChild("datetime").value )
    #set ( $date = $_DateTool.getDate($timestamp) )
#elseif ( $type == "Range" )
    ## Create calendar object.
    #set ( $cal = $_DateTool.getCalendar() )
    ## Add a day to the calendar object.
    ## First parameter is a constant representing DAY.
    ## Second parameter is the number of days.
    ## We are multiplying the number of days by -1 to move into the past.
    $cal.add(6, $_MathTool.mul(-1, $_MathTool.toInteger($data.getChild("range").value)))
    ## Get that day as a UNIX timestamp in milliseconds to compare with what Cascade generates.
    #set ( $timestamp = $cal.getTimeInMillis() )
    #set ( $date = $cal.getTime() )
#else
    ## Something is wrong! T_T
#end

## Collect the pages that have been published since the selected date.
#set ( $collection = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page/system-data-structure/block/content/system-index-block//system-page[last-published-on > ${timestamp}][not(@current)]") )
#set ( $size = $collection.size() )

<div class="row">
    <div class="col-xs-12">
        <h1>$_EscapeTool.xml($page.getChild("title").value)</h1>
        <p>
            ${size} ${_DisplayTool.plural($size, "page", "pages")} published since $_DateTool.format("FULL", $date).
            View the table below for the breakdown by Site.
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12">
        #set ( $sites = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page[not(contains(path,'base-asset'))]") )
        #if ( $sites.size() > 0 )
            $_SortTool.addSortCriterion("site", "en", "text", "ascending", "upper-first")
            $_SortTool.sort($sites)
            
            <div class="table-responsive">
            <table id="reportTable" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Number of Pages</th>
                    #actionsHeader()
                </tr>
            </thead>
            <tbody>
            #foreach ( $site in $sites )
                #set ( $id = $site.getAttribute("id").value )
                #set ( $link = $site.getChild("link").value )
                #set ( $s = $site.getChild("site") )
                #set ( $num = $_XPathTool.selectNodes($site, "system-data-structure/block/content/system-index-block//system-page[last-published-on>${timestamp}]") )
                <tr>
                    <td><a href="${link}">$_EscapeTool.xml($s.value)</a></td>
                    <td>${num.size()}</td>
                    <td>#cascadeLink("open", $id)</td>
                </tr>
            #end
            </tbody>
            </table>
            </div>
        #else
            #noReportData()
        #end
    </div>
</div>
