#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

#set ( $title = $_EscapeTool.xml($page.getChild("title").value) )
<div class="row">
    <div class="col-xs-12">
        <h1>${title}</h1>
    </div>
</div>

#set ( $rows = $_XPathTool.selectNodes($data, "row") )
#foreach ( $row in $rows )
    <hr/>
    <div class="row">
        #set ( $columns = $_XPathTool.selectNodes($row, "column") )
        ## Calculate the column size for the grid row.
        #set ( $width = 12 / $columns.size() )
        #foreach ( $column in $columns )
            <div class="col-xs-12 col-md-${width}">
                ## Did they actually select Heading from the features list?
                #if ( $_XPathTool.selectSingleNode($column, "features[value='Heading']/value") )
                    #set ( $heading = $column.getChild("heading") )
                    <h2>$_EscapeTool.xml($heading.value)</h2>
                #end
                ## Did they actually select Image+Link from the features list?
                #if ( $_XPathTool.selectSingleNode($column, "features[value='Image+Link']/value") )
                    <p>
                        #set ( $image = $_XPathTool.selectSingleNode($column, "image/link").value )
                        #set ( $alt = $column.getChild("alt").value )
                        ## Which type of link did they select?
                        #if ( $column.getChild("type").value == "Internal" )
                            #makeImageLink($_XPathTool.selectSingleNode($column, "internal/link").value, $image, $alt, "img-responsive")
                        #elseif ( $column.getChild("type").value == "Custom" )
                            #makeImageLink($_XPathTool.selectSingleNode($column, "custom").value, $image, $alt, "img-responsive")
                        #else
                            #makeImage($image, $alt, "img-responsive")
                        #end
                    </p>
                #end
                ## Did they actually select WYSIWYG from the features list?
                #if ( $_XPathTool.selectSingleNode($column, "features[value='WYSIWYG']/value") )
                    #set ( $content = $column.getChild("content") )
                    $_SerializerTool.serialize($content, true)
                #end
                ## Did they actually select Block from the features list?
                #if ( $_XPathTool.selectSingleNode($column, "features[value='Block']/value") )
                    #set ( $block = $_XPathTool.selectSingleNode($column, "block/content") )
                    $_SerializerTool.serialize($block, true)
                #end
            </div>
        #end
    </div>
#end

#macro ( makeImage $imgSrc $imgAlt $imgClass )
#set ( $imgSrc = $_EscapeTool.xml($imgSrc) )
#set ( $imgAlt = $_EscapeTool.xml($imgAlt) )
#set ( $imgClass = $_EscapeTool.xml($imgClass) )
<img src="${imgSrc}" alt="${imgAlt}" class="${imgClass}" />
#end

#macro ( makeImageLink $linkHref $imageSrc $imageAlt $imageClass )
#set ( $linkHref = $_EscapeTool.xml($linkHref) )
<a href="${linkHref}">#makeImage($imageSrc, $imageAlt, $imageClass)</a>
#end
