#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

## How many WYSIWYGs to show.
#set ( $number = $data.getChild("number").value )
## Calculate the column size for the grid.
#set ( $width = 12 / $_MathTool.toInteger($number) )

#set ( $title = $page.getChild("title") )
<div class="row">
    <div class="col-xs-12">
        <h1>$_EscapeTool.xml($title.value)</h1>
    </div>
</div>

<hr/>

<div class="row">
## Select all WYSIWYGs that have content.
#set ( $wysiwygs = $_XPathTool.selectNodes($data, "*[contains(name(), 'column')][node()]") )
#foreach ( $wysiwyg in $wysiwygs )
    <div class="col-xs-12 col-md-${width}">
        $_SerializerTool.serialize($wysiwyg, true)
    </div>
    
    ## Limit how many WYSIWYGs get displayed.
    #if ( $foreach.count == $number )
        #break
    #end
#end
</div>
