#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

## Calculate the column size for the grid.
#set ( $width = 12 / $wysiwygs.size() )

#set ( $title = $page.getChild("title") )
<div class="row">
    <div class="col-xs-12">
        <h1>$_EscapeTool.xml($title.value)</h1>
    </div>
</div>

<hr/>

<div class="row">
## Select all WYSIWYGs.
#set ( $wysiwygs = $_XPathTool.selectNodes($data, "content") )
## Calculate the column size for the grid.
#set ( $width = 12 / $wysiwygs.size() )
#set ( $wysiwygs = $_XPathTool.selectNodes($data, "content") )
#foreach ( $wysiwyg in $wysiwygs )
    <div class="col-xs-12 col-md-${width}">
        $_SerializerTool.serialize($wysiwyg, true)
    </div>
#end
</div>
