#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $data = $page.getChild("system-data-structure") )

#set ( $title = $page.getChild("title") )
<div class="row">
    <div class="col-xs-12">
        <h1>$_EscapeTool.xml($title.value)</h1>
    </div>
</div>

## Select all the rows.
#set ( $rows = $_XPathTool.selectNodes($data, "row") )
#foreach ( $row in $rows )
    ## Select all the WYSIWYGs.
    #set ( $wysiwygs = $_XPathTool.selectNodes($row, "content") )
    ## Calculate the column size for the grid.
    #set ( $width = 12 / $wysiwygs.size() )
    <hr/>
    <div class="row">
    #foreach ( $wysiwyg in $wysiwygs )
        <div class="col-xs-12 col-md-${width}">
            $_SerializerTool.serialize($wysiwyg, true)
        </div>
    #end
    </div>
#end
